* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: #EAEAEA;
}

.container {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 20px;
}
